{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row m-3">
        <div class="col-lg-5">
            <img src="https://t3.ftcdn.net/jpg/02/58/44/48/360_F_258444889_B2999NwS7g2zEhkIyq4WBtpnj8KyVUhX.jpg"
                alt="sorry" height="400px" width="550px" />
                <div class="text-center fs-5" style=" color: #003264">
                    <p class="fw-bold">Mr.Shashwat Kapadia</p>
                </div>
        </div>
        <div class="col-lg-7">
            <h1 style=" color: #003264" class="fw-bold" >Management's Message</h1>
            <p style=" color: #003264" class="fw-bold">FROM THE FOUNDER & THE MANAGING TRUSTEE</p>
            <p class="fs-5">We are dedicated to creating a nurturing and dynamic environment where students
                excel academically and grow personally. Our school is more than just a place of
                learning; it's a community where curiosity is encouraged,
                creativity is celebrated, and lifelong friendships are formed.</p>
            <p class="fs-5">From innovative classroom experiences to diverse extracurricular activities,
                we offers a balanced education that fosters both intellectual and personal growth.
                We are proud of our tradition of excellence and our commitment to helping
                each student achieve their full potential.</p>
        </div>
    </div>
</div>
{% endblock content %}