{% load static %}
<!--Footer Start -->
<footer class="footer">
  <div class="container">
    <div class="row" style="display: flex; flex-wrap: wrap;">
      <div class="footer-col col">
        <h4>Kapadia High School </h4>
        <div class="social-links">
          <p class="school-details">Established in the year 1956. Managed by Shri N.H. Kapadia Education Trust. Classes from K-12 (Science, Commerce & Humanities Stream). Provides excellent infrastructure, sound organizational support and ample opportunity to students.</p>
          <a href="#"><i class="fa fa-facebook-f"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/_tirth._.shah_?igsh=MWJwdnZ0MHVwMmNzcQ%3D%3D&utm_source=qr"><i class="fa fa-instagram"></i></a>
          <a href="https://chat.whatsapp.com/DjRwLEhzaqy5BjutusOsl6"><i class="fa fa-whatsapp"></i></a>
        </div>
      </div>
      <div class="footer-col col">
        <h4>Our Links</h4>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Activities</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-col col">
        <h4>Other Links</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Admissions</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">News & Events</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </div>
      <div class="footer-col col">
        <h4>Contact Us</h4>
        <ul>
          <li><i class="fa fa-phone"></i> Phone: +916354368335</li>
          <li><i class="fa fa-map-marker"></i> Location: Near Chhatral Railway Station, Kalol, Pratappura, Gujarat 382721</li>
          <li><i class="fa fa-envelope"></i> Email: info@kapadiahighschool.com </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Footer styles moved to external CSS file: footer.css -->
